/* For different media screens */
@media screen and(max-wdith: 992px){
    img {
        display: flex;
        justify-content: center;
        width: 100%;
        margin: 0 auto;
        flex-shrink: 2;
        
    };
    .wrapper {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(4rem, 16rem));
        gap: 2rem;
        justify-content: center;
    }


}

@media screen and (max-width: 768px) {
    header{
        all: initial;
        text-align: center;
    }

    .nav {
        all: initial;
        display: flex !important;
        justify-content: space-evenly;
        margin-bottom: 30px !important;
        font-size: 14px;
        font-family: 'Montserrat';
    }

    img {
        display: flex;
        justify-content: center;
        margin: 0 auto;
        flex-shrink: 2;
    };

    .wrapper {
        display: grid;
        gap: 2rem;
        justify-content: center;
    }
}