* {
    margin: auto;
    padding: auto;
}

body {
    background-image: linear-gradient(#649173, #DBD5A4);
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

/* Rules for Header*/
header {
    display: flex;
    font-family: 'Montserrat';
    margin-top: 30px;
    margin-left: 90px;
    height: 150px
}

/* Rules for nav bar */
nav {
    position: absolute;
    right: 100px;
    margin-right: 20px
}

/* Rules for h1 inside header section */
header h1 {
    font-size: 50px;
    font-weight: bold;
    color: white;
}

/* All other h1 rules */
h1 {
    font-size: 40px;
    margin: 10px;
    font-family: 'Montserrat';
    font-weight: bold;
}

/* h2 rules */
h2 {
    font-size: 25px;
    font-family: 'Montserrat';
}

/* Rules for footer */
footer {
    text-align: center;
}

img {
    max-width: 100%;
    max-height: 100%;
}

a {
    color: white !important;
}

a:hover {
    color: black !important;
}

/* How images in 'My Work' section look when not hovered */
.pre-hover {
    opacity: 1.0;
}

/* How images in 'My Work' section look upon hover */
.pre-hover:hover {
    opacity: 0.5;
}

#about-me {
    text-align: left;   
}

#about-me p {
    line-height: 35px;
}

.pretty {
    text-align: center;
    align-content: center;
    align-self: center;
    padding: 20px;
    margin: 20px auto;
    border: 2px solid black
}

#scroll {
    max-height: 300px;
    max-width: 700px;
    overflow: scroll;
    border: 1px black solid;
}

#flex-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
